name: Run Terraform from Front

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options: [dev, prod]
      action:
        description: 'Terraform action'
        required: true
        type: choice
        default: 'plan'
        options: [plan, apply, destroy]
  
  push:
    branches:
      - terraform-implementation

jobs:
  trigger-terraform:
    uses: Letterbox-discovery-recommendations/terraform/.github/workflows/terraform-deploy.yml@main
    with:
      environment: ${{ inputs.environment || 'dev' }}
      action: ${{ inputs.action || 'plan' }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: 'us-east-2'
